:root {
  --Primary: #213555;
  --secondary: #DCCA81;
  --Bt: #4F709C;
  --Nav: #f2e8e8;
  --Bg: #ffffff;
  --Bl: #000000;
  --foot: #8C8C8C;
  --bg2: #E3EEF5;
}

/* Global Colors */
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #e84545;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #32353a;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --nav-color: #3a3939;
  --nav-hover-color: #e84545;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #e84545;
  --nav-dropdown-background-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
}

/* Fonts */
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat", sans-serif;
  --nav-font: "Lato", sans-serif;
}

*,
html {
  transition: all 0.4s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  background-color: var(--Bg);
}

/* Navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgb(33, 53, 85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.icon {
  color: var(--Bg);
  margin-left: -15rem;
  font-size: 26px;
  width: 100%;
}

.icon:hover {
  color: var(--Bt);
}

.navbar .profile {
  text-align: center;
  font-family: "poppins", sans-serif;
  /* background-color: var(--Bt); */
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: 100;

}



.navbar .profile:hover {
  color: var(--Bt);
}

/* .masuk {
  line-height: 2;
  padding: 0.2rem 2rem;
  top: 0;
  right: 0;
  left: 0;
  margin-left: -27rem;
  color: var(--Bg);
  background-color: var(--Bt);
  border: none;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.masuk:hover {
  background-color: var(--Bg);
  color: var(--Bt);
} */

.navbar .navbar-logo img {
  width: 150px;
  margin-left: -5rem;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: var(--Primary);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: var(--Bg);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--Bt);
}

.sidenav .a-nav a::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--Bt);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease;
}

.sidenav .a-nav a:hover::before {
  transform: scaleX(1);
}

.sidenav .a-nav a:hover {
  color: var(--foot);
}

.sidenav .a-nav a:hover::after {
  transform: scaleX(0.5);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Navbar end */

/* Homepage Start */
.about {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.isi-1 {
  width: 50%;
  display: flex;
}

.isi-1 img {
  width: 100%;
  /* margin-left: 10rem; */
}

.isi-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-e venly;
}

.isi-2 h2 {
  font-size: 34px;
  width: 100%;
  font-weight: 700;
  /* text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6); */
  font-family: Arial, Helvetica, sans-serif;
}

.isi-2 h1 {
  font-size: 22px;
  width: 80%;
  font-weight: 400;
  /* text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6); */
  font-family: Arial, Helvetica, sans-serif;
}

.hr-bates{
  width: 78%;
  border: 1px solid var(--Primary);
}


.daftar {
  width: 200px;
  line-height: 2;
  padding: 0.2rem 2rem;
  margin-top: 2rem;
  color: var(--Bg);
  background-color: var(--Bt);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.daftar:hover {
  background-color: var(--Primary);
  color: var(--Bg);
}

/* Homepage End */


/* about start */
.container-about {
  display: flex;
  flex-direction: column;
  background-color: var(--bg2);
  padding-top: 7rem;
  padding-left: 10rem;
  width: 100%;
  height: 150vh;
}

.container2 {
  padding-top: 7rem;
  display: flex;
  background-color: var(--Bg);
  flex-direction: row;
  border-radius: 10px;
  height: 110vh;
  width: 90%;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.judul-course {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 7rem;
  margin: 67rem 0 0 13rem;
  padding-top: 2rem;

}

.container-about h2 {
  text-align: center;
  color: var(--Primary);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 45%;
  height: 35%;
  margin-top: 1rem;
  background-color: var(--Bg);
  border-radius: 5px;
  padding-bottom: 13.8rem;
  border: 1px solid #d2cfcf;
  cursor: pointer;
}

card:hover {
  box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container {
  padding: 0px 16px;
  background: var(--bg);
  border-radius: 0 0 5px 5px;
}

.container p {
  padding: 10px 0 5px 0;
}

.card .container h4 {
  font-family: "poppins", sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-top: 0.2rem;
  opacity: 65%;
  color: var(--Bl);
}

.card .container p {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-top: 0.5rem;
  color: var(--Bl);
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

/* about end */

/* keunggulan end */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  --background-color: #f4f4f4;
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--default-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--secondary-color), 0.5);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer h4 {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(var(--default-color-rgb), 0.8);
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

.footer .footer-links ul a:hover {
  color: var(--primary-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(var(--default-color-rgb), 0.05);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}


