:root {
  --Primary: #213555;
  --secondary: #DCCA81;
  --Bt: #4F709C;
  --Nav: #f2e8e8;
  --Bg: #ffffff;
  --Bl: #000000;
  --foot: #8C8C8C;
}

/* Global Colors */
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #e84545;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #32353a;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --nav-color: #3a3939;
  --nav-hover-color: #e84545;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #e84545;
  --nav-dropdown-background-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
}

/* Fonts */
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat", sans-serif;
  --nav-font: "Lato", sans-serif;
}


*,
html {
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--Bg);
}

.btn-custom {
  background-color: var(--Bt);
}

.btn-custom:hover {
  background-color: var(--Bg);
  color: var(--secondary) !important;
}

.btn-nav:hover {
  color: var(--secondary) !important;
}

/* Navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 10%; */
  background-color: rgb(33, 53, 85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Styles untuk search bar */
/* .masuk {
  line-height: 2;
  padding: 0.2rem 2rem;
  top: 0;
  right: 0;
  left: 0;
  margin-left: -17rem;
  color: var(--Bg);
  background-color: var(--Bt);
  border: none;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
} */

/* Navbar end */


/* Homepage Start */
.about {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.isi-1 {
  width: 50%;
  display: flex;
}

.isi-1 img {
  width: 100%;
  /* margin-left: 10rem; */
}

.isi-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.isi-2 h2 {
  font-size: 34px;
  width: 100%;
  font-weight: 600;
  /* text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6); */
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  width: 78%;
  border: 1px solid var(--Primary);
}

.isi-2 h1 {
  font-size: 22px;
  width: 80%;
  font-weight: 400;
  /* text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6); */
  font-family: Arial, Helvetica, sans-serif;
}

.daftar {
  width: 200px;
  line-height: 2;
  padding: 0.2rem 2rem;
  margin-top: 2rem;
  color: var(--Bg);
  background-color: var(--Bt);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.daftar:hover {
  background-color: var(--Primary);
  color: var(--secondary);
}

/* Homepage End */


/* about start */
.container-about {
  padding-top: 7rem;
  width: 100%;
  display: flex;
  height: 50vh;
  justify-content: center;
}

.container2 {
  display: flex;
  background-color: #ddd4d4;
  border-radius: 10px;
  height: 30vh;
  width: 70%;
  flex-direction: column;
}

.container2 .about-isi-1 {
  padding-top: 3rem;
  padding-left: 30rem;
}

.about-isi-1 h2 {
  font-family: "poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--Bt);
}

.container2 .about-isi-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  gap: 10rem;
  /* justify-content: space-evenly; */
}

.about-isi-2 .bab {
  width: 200px;
  line-height: 2;
  padding: 0.2rem 2rem;
  margin-top: 2rem;
  color: var(--Bg);
  background-color: var(--Bt);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.bab:hover {
  background-color: var(--Primary);
  color: var(--Bg);
}

/* about end */

/* keunggulan start */
.container-keunggulan {
  padding-top: 4rem;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.keunggulan-container {
  height: 75vh;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Bt);
  padding-top: 5rem;
}

.keunggulan-container h2 {
  margin: 16px 0 48px;
  text-align: center;
  font-size: 32px;
  color: var(--Bg);
  font-family: "poppins", sans-serif;
}

.keunggulan-container .isi-unggul {
  display: flex;
  flex-direction: row;
  margin-top: 0.1rem;
  gap: 0.1rem;
}

.bordernya p {
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
  font-family: "poppins", sans-serif;
  color: var(--Bg);
  font-weight: 700;
}


.keunggulan-container .isi-unggul .foto-1 {
  margin-left: 4rem;
  width: 75%;
  /* Ubah persentase sesuai kebutuhan */
  height: auto;
}

.keunggulan-container .isi-unggul .foto-2 {
  margin-left: 4rem;
  width: 75%;
  height: auto;
}

.keunggulan-container .isi-unggul .foto-3 {
  margin-left: 4rem;
  width: 75%;
  height: auto;
}


/* keunggulan end */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  --background-color: #f4f4f4;
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--default-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--secondary-color), 0.5);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer h4 {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(var(--default-color-rgb), 0.8);
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

.footer .footer-links ul a:hover {
  color: var(--primary-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(var(--default-color-rgb), 0.05);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}


